<div class="choice-page">
	<h1>Escolha uma cidade</h1>
	<div class="choice-form">
		<%= form_for ('calendar_city_path') do |form| %>
			<p>
			<%= form.radio_button :city, 'n, Nenhuma' %>
			<%= form.label :city, 'Nenhuma', value:  'n, Nenhuma' %><br />
			<%= form.radio_button :city, 'belohorizonte, Belo Horizonte' %>
			<%= form.label :city, 'Belo Horizonte', value: 'belohorizonte, Belo Horizonte' %><br />
			<%= form.radio_button :city, 'portoalegre, Porto Alegre' %>
			<%= form.label :city, 'Porto Alegre', value: 'portoalegre, Porto Alegre' %><br />
		  <%= form.radio_button :city, 'riodejaneiro, Rio de Janeiro' %>
			<%= form.label :city, 'Rio de Janeiro', value: 'riodejaneiro, Rio de Janeiro' %><br />
			<%= form.radio_button :city, 'saopaulo, São Paulo' %>
			<%= form.label :city, 'São Paulo', value: 'saopaulo, São Paulo' %><br />
			</p>
			<%= form.submit "OK" %>
		<% end %>
	</div>
</div>