<h1>Calendar</h1>
<%= calendar_method(@month, @year, @holidays).html_safe %>
<%= all_holidays_method(@year, @holidays) %>
<%= holidays_div_method(@holidays).html_safe %>

<%= form_tag("/someajax", method: 'post', :remote => true) do %>
<h1 id="from_category"></h1>
<% end %>
<%= render partial: 'from_category', locals: {holidays: @holidays} %>
