<h1>Calendar</h1>
<%= calendar_method(@month, @year, @holidays).html_safe %>
<%= all_holidays_method(@year, @holidays) %>
<%= holidays_div_method(@holidays).html_safe %>

<div id="from_category">
	<%= render :partial => "initial_category" %>
</div>
<%= link_to "2018", from_category_path, :method => :post, :remote => true %>
<%= link_to "2017", from_category_path, { :method => :get, :remote => true} %>


